<!DOCTYPE html>
<html lang="en-us">

<meta name="viewport" content="width=device-width, initial-scale=1">

{% include head.html %}

<body>

<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <img src="{{ site.baseurl }}/assets/images/logo.png" style="width:80px;">
      <hr style="height:0pt; visibility:hidden;" />
      <h1 class="title">
        Bacharelado em Ciência da Computação
      </h1>
    	<h1 class="subtitle">
        Universidade Federal da Bahia
    	</h1>
    </div>
  </div>
</section>

<div class="main-container">
  <div class="tile is-ancestor is-vertical">

    {% include menu.html %}

    <div class="tile is-parent">

    	<div class="tile is-8 is-child main" style="width:100%;">
          <span></span>

            {{ content }}

      </div>

    </div>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <sub>
        Instituto de Matemática e Estatística - UFBA</br>
        Av. Adhemar de Barros, s/n, Campus Universitário de Ondina CEP: 40.170-110 
      </sub>
    </div>
  </div>
</footer>

<!-- js -->
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>
<script src="{{ site.baseurl }}/assets/js/typewriter.js"></script>
</body>
</html>
